.playout{
    width: 1300px;
    height: 805px;
    float: left;
    margin-left: 300px;
    border: 1px solid black;
    margin-bottom: 50px;
    margin-top: 10px
   
}

.playtop{
    width: 1300px;
    height: 75px;
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
}

.play{
    width: 1300px;
    height: 730px;
    border: 1px solid black;
}

.Player{
    width: 1300px;
    height: 550px;
}
